body {
  background-image: url("img/PurpleJapaneesePainting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 0;
}

.age {
  cursor: pointer;
  padding: 10px;
  color: rgb(212, 233, 243);
  text-shadow: 0 0 8px #67b8ce;
  font-size: 52px;
  width: 380px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  border: 2px solid rgba(179, 67, 235, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: #dfadf1 0 0 15px;
}

.age p {
  margin: 0;
}
